
#largo {
    background: #D8A565;
    border-radius: 25px;
    width: 150px;
    height: 40px;
}
body{
    font-family: 'Roboto', sans-serif;
    background: url(fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
   
    
}
section.inf{
    background-color: #D8A565;
    width: 400px;
    border-radius: 25px;
    height: 200px;
}
h4{
    margin-left: 100px;
}
h2{
    margin-left: 500px;
    color: aliceblue;
}
h3{
    margin-left: 400px;
    position: relative;
    margin-top: -100px;
    color: aliceblue;
}
section.edu{
    background-color: #D8A565;
    margin-left: 420px;
    margin-top: -220px;
    width: 450px;
    border-radius: 25px;
    position:  absolute;
}
section.sk{
    background-color: #D8A565;
    width: 450px;
    margin-left: 420px;
    border-radius: 25px;
    position: absolute;
    margin-top: -30px;
}
section.datos{
    background-color: #D8A565;
    width: 400px;
    border-radius: 25px;
    margin-left: 890px;
    margin-top: -220px;
    position: absolute;
}
img{
 margin-left: 1000px;
 border-radius: 75.6385px;
}
div{
    background-color: #D8A565;
    border-radius: 25px;
    width: 250px;
    height: 20px;
    margin-left: 15px;
}
img.ima{
    width: 25px;
    height: 25px;
    background-color: aliceblue;
    position: absolute;
    margin-left: 270px;
}
img.imat{
    width: 25px;
    height: 25px;
    
    position: absolute;
    margin-left: 270px;
}
img.imac{
    width: 25px;
    height: 25px;
    background-color: aliceblue;
    position: absolute;
    margin-left: 270px;
}
section.h{
    background-color: #D8A565;
    width: 400px;
    border-radius: 25px;
    margin-left: 890px;
    margin-top: -140px;
    position: absolute;}