img{
    margin-left: 900px;
    border-radius: 75.6385px;
}
h3{
    margin-left: 400px;
    position: relative;
    margin-top: -100px;
    color: rgb(0, 0, 0);
}
section.taller{
    background-color: #AB57FD;
    width: 150px;
    height: 150px;
    margin-top: 150px;
    margin-left: 200px;
    border-radius: 25px;
}
h4{
    margin-left: 15px;
}
section.consulta{
    background-color: #AB57FD;
    width: 150px;
    height: 150px;
    margin-top: -170px;
    margin-left: 500px;
    border-radius: 25px;
}
section.retos{
    background-color: #AB57FD;
    width: 150px;
    height: 150px;
    margin-top: -170px;
    margin-left: 800px;
    border-radius: 25px;
}